:root {
    --primary-color: #f8a3c8;
    --secondary-color: #ffffff;
    --background-color: #171616;
    --accent-color: #cae6f8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

h1,
h2,
p,
a {
    font-family: 'Roboto', sans-serif;
}

.logo {
  
    max-width: 150px;
   
}

nav {
    padding: 20px 0;
}
nav ul {
    padding: 0;
    margin: 0;
}

 nav  li {
        display: inline;
        list-style: none;
        line-height: 42px;
        margin-left: 15px;
      
 }
nav a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
    color: var(--primary-color);
   
}


h1 {
    font-weight: bold;
}

h2 {
    font-weight: normal;
}

p {
    font-weight: bold;
}

.hero {
    background: linear-gradient(rgba(38, 38, 38, 0.5), rgba(38, 38, 38, 0.5)), url("/images/cutie.jpg");
    height: 500px;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
    padding: 0px 20px;
}

.hero p {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 48px;
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 2;
}

.btn-branding {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: var(--branding-color);
    border-radius: 50px;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 17px;
    padding: 12px 20px;
}

.image-container {
    margin-bottom: 15px;
    margin-top: 30px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section {
    text-align: center;
    padding: 50px;
}

.about-section .row {
    align-items: center;
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-section h2 {
    color: #161616;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.about-section h1 {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-section p {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    font-size: 16px;
    margin-bottom: 20px;
}

.about-section .btn-branding {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: var(--accent-color);
    border-radius: 50px;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 17px;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
}

.gallery-section-container h1 {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

.contact-container-container h1{
    color: #FFFFFF;
    margin-top: 77px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: 84px;
}

   .contact-container-container h2,h3,h4{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: #F65282;
   }
   .contact-container-container p,a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    
   }

     